.button {
  margin: 2%;
  padding: 0.5%;
  border: 2px solid #577d4b;
  border-radius: 5px;
  background-color: #577d4b;
  color: #fff;
  cursor: pointer;
}
.button:hover {
  background-color: transparent;
  color: #577d4b;
}
.centered-content {
  text-align: center;
}
