
.sidebar {
	width: 82px;
	height: 100vh;
	position: fixed;
	margin-top: 65px;
	background: var(--main-bg-color);
	box-shadow: rgba(0,0,0,0.12) 0px 1px 4px 1px;
	overflow: hidden;
	z-index: 100;
	transition: width .5s;
}

.sidebar:hover {
	width: 250px;
}

.nav_burger-main {

height: 40px;
width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	//padding-left: 10px;
//	background-color: rgb(179, 69, 69);
  z-index: 9222;

  
	
	position: fixed;
	top: 2px;
  left: 10px

  }


.sidebar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.sidebar-nav-item {
	width: 100%;
}

.sidebar-nav-link {
	display: flex;
	align-items: center;
	color: var(--main-color);
	text-decoration: none;
}

.sidebar-nav-link i {
	font-size: 1.5rem;
	color: var(--second-color);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.sidebar-nav-link div {
	min-width: 82px;
	height: 50px;
	position: relative;
}

.sidebar-nav-link:hover {
	background: var(--second-bg-color);
}

.sidebar-nav-link.active {
	background: var(--second-bg-color);
	color: var(--danger-color);
}

.sidebar-nav-link.active div {
	border-left: 5px solid var(--danger-color);
}

.sidebar-nav-link.active i {
	color: var(--danger-color);
	margin-left: -5px;
}

.sidebar-expand .sidebar {
	width: 250px;
}

.sidebar-expand .wrapper {
	margin-left: 250px;
}



.nav_item {
	background-color: #fff;
	width: 30%;
	height: 90%;
  }
  
  .nav_setting {
	display: flex;
	justify-content: flex-end;
	align-items: center;
  }
  .nav_icon {
	height: 100%;
	width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
  
	//	background-color: rgb(26, 206, 20);
  }
  .nav_setting .nav_icon {
	margin-right: 10px;
  }
  
  .nav_burger {
	display: flex;
	justify-content: flex-start;
	padding-left: 10px;
	// display: none;
  }
  .nav_burger .nav_icon {
  }
  
  .navbar-search {
	position: relative;
	margin: auto;
	width: 90%;
	height: 90%;
	//	background-color: rgb(151, 66, 66);
  }
  
  .navbar-search input {
	background: #f1f1f1;
	border: none;
	//padding: 12px 50px 12px 50px;
	padding: 3px;
	padding-left: 20px;
	width: 100%;
	outline: none;
	color: #212529;
	border-radius: 20px;
  }
  
  .navbar-search i {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	color: #727475;
	cursor: pointer;
  }
  
  .avt img {
	width: 39px;
	height: 39px;
	border-radius: 50%;
  }
  
  .nav-link {
	float: left;
	text-align: center;
	padding: 21px 10px;
	text-decoration: none;
	font-size: 17px;
	color: var(--second-color);
	position: relative;
  }
  
  .nav-link:hover {
	cursor: pointer;
  }
  .nav-item {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	//	background-color: rgb(184, 38, 38);
  }
  
  //SIDE NAV BAR PART
  .side_bar {
	background-color: rgb(160, 60, 60);
  }
  
  .sidebar {
	width: 50px;
	height: 100vh;
	position: fixed;
	//margin-top: 65px;
	background: #ffffff;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
	overflow: hidden;
	z-index: 100;
	transition: width 0.5s;
	// background-color: rgb(40, 233, 15);
	margin-top: 0px;
  }
  

  .sidebar-nav-link {
	display: flex;
	align-items: center;
	color: #212529;
	text-decoration: none;
  }
  
  .sidebar-nav-link i {
	font-size: 1.2rem;
	color: #727475;
	position: absolute;
	left: 35%;
	top: 50%;
	transform: translate(-50%, -50%);
	//	background-color: rgb(18, 180, 45);
  }
  
  .sidebar-nav-link div {
	min-width: 82px;
	height: 50px;
	position: relative;
  }
  
  .sidebar-nav-link:hover {
	background: #f1f1f1;
  }
  
  .sidebar-nav-link.active {
	background: #f1f1f1;
	color: #eb4d4b;
  }
  
  .sidebar-nav-link .active div {
	border-left: 5px solid #eb4d4b;
  }
  
  .sidebar-nav-link.active i {
	color: #eb4d4b;
	margin-left: -5px;
  }
  
  .sidebar-expand .sidebar {
	width: 250px;
  }
  
  .sidebar-expand .wrapper {
	margin-left: 250px;
  }
