:root {
  --primary-color: #4ea685;
  --secondary-color: #578894;
  --black: #000000;
  --white: #ffffff;
  --gray: #efefef;
  --gray-2: #757575;
}

.container--fluid {
  position: relative;
  height: 100vh;
  overflow: hidden;
  // background-color: rgb(139, 43, 43);
}
.row {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.col {
  width: 70%;
}
.col1 {
  width: 45%;
}
.bloc1 {
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  //  height: 100%;
  padding-left: 20px;
  padding-top: 50px;

  background-image: linear-gradient(
    45deg,
    var(--primary-color) 10%,
    var(--secondary-color) 100%
  );

  border-bottom-right-radius: 50% 50%;
  //  width:100px;
  height: 500px;
}

.align-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.form-wrapper {
  width: 100%;
  max-width: 17rem;
  padding: 20px;
}

.form {
  padding: 1rem;
  background-color: var(--white);
  border-radius: 1.5rem;
  width: 100%;
  box-shadow: rgb(0, 0, 0, 0.35) 0px 5px 15px;
}
.input-group {
  position: relative;
  width: 100%;
  margin: 1rem 0;
 // background-color: blue;
}

.input-group img {
  position: absolute;
  top: 20%;
  left: 20px;
  transform: translate(-50%);
  font-size: 1.4rem;
  color: var(--gray-2);
  height: 70%;
  // background-color: blue;
  width: 10%;
}
.input-group input {
  width: 100%;
  padding: 1rem 3rem;
  font-size: 1rem;
  background-color: var(--gray);
  border-radius: 0.5rem;
  border: 0.125rem solid var(--white);
  outline: none;
  // background-color:red ;
  height:15px;
}

.input-group input:focus {
  border: 0.125rem solid var(--primary-color);
}
.form .btn-sign {
  cursor: pointer;
  width: 100%;
  //padding: 0.6rem 0;
  border: none;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1.2rem;
  outline: none;
  border-radius: 0.5rem;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
 margin-bottom: 10px;
// color:white;
}
.btn-sign{
  color: white !important; 
}

.password-invalid{
  color:red;
  display: none;
}

.text {
  margin: 4rem;
  color: var(--white);
  
}
.text h2 {
  font-size: 3rem;
  font-weight: 800;
  margin: 2rem 0;
  color: var(--white);
  transition: 1s ease-in-out;
  margin-top: 30px;
  //   background-color: rgb(201, 104, 104);
}

.text p {
  font-weight: 500;
  transition: 1s ease-in-out;
  transition-delay: 0.2s;
  //  background-color: saddlebrown;
}
.img img {
 // width: 30vw;
  transition: 1s ease-in-out;
  transition-delay: 0.4s;
  margin-top: -10px;
  //background-color: saddlebrown;
}
.text h2,
.text p,
img img {
  transition: 1s ease-in-out;
}
.form p b{
    margin-top: 15px;
}

.text.sign-in h2,
.text.sign-in h2,
.img.sign-in img {
  transform: translateX(0);
}
// .box1.sign-in .text.sign-in h2,
// .box1.sign-in .text.sign-in h2,
// .box1.sign-in .img.sign-in img {
//     transform: translateX(0);
// }

// .containe::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//    height: 100vh;
//     width: 300vw;
//     transform: translateY(35%, 0);
//     background-image: linear-gradient(45deg, var(--primary-color) 10%, var(--secondary-color) 100%);
//     z-index: 6;
//     box-shadow: rgb(0,0,0, 0.35) 0px 5px 15px;
//     border-bottom-right-radius: max(50vw, 10vh);
// border-top-left-radius: max(50vh, 50vh);
// }

// .box1.sign-in::before{
//     transform: translate(0,0);
//     right: 50%;
// }

.bloc1 {
}
