.pagesearch {
  // margin-top: 50px;
  margin-left: 60px;
 //  background-color: rgb(245, 63, 63);
  padding-top: 30px;
}

.pagesearch .liste_titre {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  // margin-top: 20px;
}
.pagesearch .liste_titre h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 51px;

  color: #005618;
}

.container_search {
  // background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.liste_search{
  display: flex;
  flex-direction: row;
}

.liste_items{
  width: 80%;
 // background-color: rgb(182, 65, 65);
}

.pagesearch .search_box {
  //   height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
 
  padding-left: 0px;
  margin-left: 30px;
  justify-content: start;
 // background-color: rgb(94, 211, 15);

 // border: 3px dashed #225b21;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.search_box .title {
  //height: 30px;
  width: 100%;
  background-color: white;
  margin-bottom: 0px;
  // border: 3px dashed #225b21;
  box-sizing: border-box;
  border-radius: 10px;

}

.search_box .title h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  color: #005618;
  margin-bottom: 20px;
}

.search_box .search_time {
  //height: 30px;
  margin-bottom: 20px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 3px dashed #d6d6d6;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  //margin-top: -10px;
}

.search_box .search_label {
  margin-bottom: 20px;
  //height: 30px;
  width: 100%;
  background-color: rgb(59, 44, 201);
  
  border: 3px dashed #225b21;
  box-sizing: border-box;
  border-radius: 10px;
}

.search_box .search_result {
  //height: 30px;
  width: 100%;
  //background-color: rgb(32, 57, 141);
  border: 3px dashed #d6d6d6;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.search_result p{
  color: #000000;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  text-align: center;

}
.search_result p span {
  color: #005618;
}
.search_item {
  background-color: #fff;
  //height: 35px;
  // width: 200px;
  display: flex;
  margin-bottom: 10px;
  //  justify-content: space-evenly;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.label-up {
  padding: 0.5%;
  width: 100px;
  display: flex;

  flex-direction: column;
}

.search_item label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;

  color: #000000;
  margin-bottom: 15px;
}

.search_item .select {
  border: 2px solid #a0b0a3;
  padding-left: 10px;
  margin-top: -8px;
  border-radius: 5px;
  height: 35px;
  width: 200px;
  font-family: Roboto;
  font-size: 16px;
  text-transform: capitalize;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//background-color: rgb(136, 44, 44);
}

.search_item input {
  border: 2px solid #a0b0a3;
  padding-left: 10px;
  margin-top: -8px;
  border-radius: 5px;
  height: 35px;
  width: 200px;
  font-family: Roboto;
  font-size: 16px;

  text-transform: capitalize;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.liste_box_search {
  //  height: 500px;
  // background-color: rgb(223, 18, 97);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
